@if (movies) {
<div class="carousel">
  <p-carousel
    [value]="movies?.slice(27, 50)"
    [numVisible]="6"
    [numScroll]="2"
    [circular]="true"
    [responsiveOptions]="responsiveOptions"
  >
    <ng-template let-movie pTemplate="item">
      <div class="myCardCarousel">
        <div class="myimg">
          <img src="{{ movie.posterURL }}" class="w-6 shadow-2" />
        </div>
        <div class="txt">
          <div class="title">{{ movie.title }}</div>
          <div class="date">15 OCt,2023</div>
        </div>
      </div>
    </ng-template>
  </p-carousel>
</div>

}
