.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

img {
  width: 600px;
  height: 600px;
  margin-top: -120px;
}

h1 {
  font-size: 4rem;
  margin-top: -40px;
}

@media (max-width: 1024px) {
  img {
    width: 500px;
    height: 500px;
  }
}

@media (max-width: 768px) {
  img {
    width: 400px;
    height: 400px;
  }
}
