<div class="container">
  <div class="row">
    <div
      class="col-24 col-md-13 d-flex justify-content-center align-content-center mt-5"
    >
      <div class="d-block mt-3 text-center h-100 w-100">
        <p>Book now for an unforgettable movie experience</p>
        <p>Your ticket to cinematic delight awaits !</p>

        <img
          class="glasses"
          src="/assets/3d.png"
          alt="3d"
        />
      </div>
    </div>
    <div class="col-24 col-md-11 mt-sm-4 d-flex justify-content-center">
      <img
        src="assets/img-footer.png"
        class="w-75 children"
        style="border-radius: 10px"
      />
    </div>
  </div>

  <hr style="margin-top: 5%" />

  <div class="row" style="margin-top: 5%">
    <div class="col-12 col-md-5">
      <p style="font-size: 20px">Support</p>
      <ul>
        <li><a class="footer-l">Contact </a></li>
        <li><a class="footer-l">Help Center</a></li>
        <li><a class="footer-l"> IP Allowlist</a></li>
        <li><a class="footer-l">Download Movie</a></li>
        <li><a class="footer-l">Tickets Plans</a></li>
        <li><a class="footer-l">Flow Plans</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-5">
      <p style="font-size: 20px">Community</p>
      <ul>
        <li><a class="footer-l">Guides </a></li>
        <li><a class="footer-l">About us</a></li>
        <li><a class="footer-l"> Partner with i Watch</a></li>
        <li><a class="footer-l">Affiliate Partners</a></li>
        <li><a class="footer-l">i Watch +</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-5 mt-5 mt-md-0">
      <p style="font-size: 20px">Company</p>
      <ul>
        <li><a class="footer-l"> About Us</a></li>
        <li><a class="footer-l">Careers</a></li>
        <li><a class="footer-l"> Newsroom</a></li>
        <li><a class="footer-l">Resources</a></li>
      </ul>
    </div>
    <div class="col-12 col-md-5 mt-5 mt-md-0">
      <p style="font-size: 20px">Industries</p>
      <ul>
        <li><a class="footer-l" href="#"> Public Sector</a></li>
        <li><a class="footer-l" href="#">Non-Profit</a></li>
      </ul>
    </div>

    <div class="col-20 offset-2 col-md-4 offset-md-0 mt-5 mt-md-0">
      <p style="font-size: 20px">Join us now !</p>
      <small>Sign up with your email to join us.</small>
      <label for="email" class="mt-3">Email address:</label><br />
      <input
        type="email"
        id="email"
        class="mt-1 w-75"
        autocomplete="off"
        placeholder="Email..."
        required
        style="padding: 3px; outline: none"
      />
      <div style="display: flex; align-items: center">
        <input type="checkbox" id="emailC" style="margin-top: 12px" />
        <label for="emailC" class="m-2" style="padding-top: 2.6rem"
          >I would like to receive emails from iWatch:</label
        >
      </div>

      <button
        class="btn-test py-2 px-3 text-white"
        pButton
        pRipple
        (click)="showBottomRight()"
      >
        Subscribe
      </button>

      <!-- @if(showToast) {
        <p-toast position="bottom-right" key="br"></p-toast>
      } -->
    </div>
  </div>

  <div class="row my-5">
    <div class="col-8 col-md-8 d-flex justify-content-start d-md-block">
      <img src="/assets/logo.png" style="width: 130px; height: 130px" />
    </div>
    <div
      class="col-13 col-md-8 d-flex justify-content-center align-items-center"
    >
      <div
        class="social-media d-flex justify-content-center align-items-center"
      >
        <img
          src="/assets/social media icons/facebook.png"
          class="social-icon"
        />
        <img
          src="/assets/social media icons/instagram.png"
          class="social-icon"
        />
        <img src="/assets/social media icons/tik-tok.png" class="social-icon" />
        <img src="/assets/social media icons/youtube.png" class="social-icon" />
        <img
          src="/assets/social media icons/pinterest.png"
          class="social-icon"
        />
      </div>
    </div>
    <div class="col-8"></div>
  </div>

  <!-- Bootstrap Toast -->
  <div class="toast-container position-fixed bottom-0 end-0 p-3">
    <div
      id="liveToast"
      class="toast"
      role="alert"
      aria-live="assertive"
      aria-atomic="true"
    >
      <div class="toast-header">
        <img src="..." class="rounded me-2" alt="..." />
        <strong class="me-auto">Bootstrap</strong>
        <small>11 mins ago</small>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="toast"
          aria-label="Close"
        ></button>
      </div>
      <div class="toast-body">Hello, world! This is a toast message.</div>
    </div>
  </div>
</div>
