<nav>
  <div class="logo-container">
    <p class="logo" routerLink="/"><span>I</span>Watch</p>

    <div class="search-box">
      <input
        type="text"
        placeholder="Search..."
        [(ngModel)]="item"
        (input)="result($event)"
        id="targetDiv"
        #targetDiv
        autocomplete="off"
      />
      <a href="#"><i class="search pi pi-search"></i></a>

      @if (resultMovies.length!=0 &&showResults) {
      <div class="mySearch">
        @for (movie of resultMovies; track movie.id) {
        <div class="singleRes" routerLink="movie/{{ movie.id }}">
          <div class="poster">
            <img src="{{ movie.Poster }}" />
          </div>
          <div class="content">
            <div class="name">{{ movie.Title }}</div>
            <div class="catg">{{ movie.Genre }}</div>
            <div class="catg">{{ movie.Language }}</div>
          </div>
        </div>
        }
      </div>
      }
    </div>
  </div>

  <!--------------------------------------------------------------------------------------->
  <!-------------------------------- Mobile Side Menu ------------------------------------->
  <!--------------------------------------------------------------------------------------->

  <p-sidebar [(visible)]="sidebarVisible" position="right" class="sidemenu">
    <ng-template pTemplate="header"
      ><div class="mob-logo">
        <p class="logo" routerLink="/"><span>I</span>Watch</p>
      </div></ng-template
    >
    <div class="search-container">
      <div class="mob-search-box">
        <input
          type="text"
          placeholder="Search..."
          [(ngModel)]="item"
          (input)="result($event)"
          id="targetDiv"
          #targetDiv
          autocomplete="off"
        />
        <a href="#"><i class="search pi pi-search"></i></a>
      </div>

      @if (resultMovies.length!=0 &&showResults) {
      <div class="mob-mySearch">
        @for (movie of resultMovies; track movie.id) {
        <div class="singleRes" routerLink="movie/{{ movie.id }}">
          <div class="poster">
            <img src="{{ movie.Poster }}" />
          </div>
          <div class="content">
            <div class="name">{{ movie.Title }}</div>
            <div class="catg">{{ movie.Genre }}</div>
            <div class="catg">{{ movie.Language }}</div>
          </div>
        </div>
        }
      </div>
      }
    </div>
    @if (!hideLinks) {
    <div class="mob-links">
      <a routerActiveLink="active" routerLink="/">Home</a>
      <a href="#Trending">Trending</a>
      <a routerActiveLink="active" routerLink="/checkout">Cart</a>
    </div>
    }

    <div class="mob-btns">
      @if(googleUser) {
      <div class="google-info">
        <img [src]="googlePicture" routerLink="/profile" />

        <button
          class="secondary-btn"
          (click)="handleSignOut()"
        >
          Sign Out
        </button>
      </div>
      } @else if(mongoUser) {
      <div class="google-info">
        <p-avatar
          [label]="userFirstLetter"
          styleClass="mr-2 text-black cursor-pointer"
          size="xlarge"
          shape="circle"
        ></p-avatar>

        <button class="secondary-btn" (click)="handleSignOut()">
          Sign Out
        </button>
      </div>
      } @else {
      <button class="primary-btn" routerLink="/sign-in">
        <img
          src="./assets/svg/user.svg"
          style="filter: invert(100%); padding-bottom: 4px"
        />
        Sign In
      </button>
      }
    </div>
  </p-sidebar>

  <button
    type="button"
    class="pi pi-bars toggleIcon"
    (click)="sidebarVisible = true"
    icon="pi pi-arrow-left"
  ></button>
  <!--------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------->
  <!--------------------------------------------------------------------------------------->

  @if (!hideLinks) {
  <div class="links">
    <a
      [routerLink]="['/']"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Home</a
    >
    <a href="#Trending">Trending</a>
    <a routerActiveLink="active" routerLink="/checkout">Cart</a>
  </div>
  }

  <div class="btns">
    @if(googleUser) {
    <div class="google-info">
      <img [src]="googlePicture" routerLink="/profile" />

      <button class="secondary-btn" (click)="handleSignOut()">Sign Out</button>
    </div>
    } @else if(mongoUser) {
    <div class="google-info">
      <div style="cursor: pointer">
        <p-avatar
          [label]="userFirstLetter"
          styleClass="mr-2 text-black mb-3"
          size="xlarge"
          shape="circle"
          routerLink="/profile"
        ></p-avatar>
      </div>

      <button class="secondary-btn" (click)="handleSignOut()">Sign Out</button>
    </div>
    } @else {
    <button class="primary-btn" routerLink="/sign-in">
      <img
        src="./assets/svg/user.svg"
        style="filter: invert(100%); padding-bottom: 4px"
      />
      Sign In
    </button>
    }
  </div>
</nav>
