<!-- <nav [ngClass]="{ 'home-page': isHomePage }"> -->
<nav>
  <div class="logo-container">
    <p class="logo"><span>I</span>Watch</p>

    <div class="search-box">
      <input type="text" placeholder="Search..." />
      <a href="#"><i class="search pi pi-search"></i></a>
    </div>
  </div>

  <div class="links">
    <a routerLink="/">Home</a>
    <a href="#Trending">Trending</a>
    <a routerLink="/">Cart</a>
  </div>

  <div class="btns">
    <button class="primary-btn" routerLink="/sign-up">Login / Register</button>
  </div>
</nav>
