.profile {
  margin-bottom: 30px;
  .cover {
    position: relative;

    .myimg {
      width: 100%;
      height: 400px;
      background-image: url("/assets/images/cinema-cover.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: 100% 45pc;
      box-shadow: inset 0 0 0 2000px #221f1f82;
      @media (max-width: "850px") {
        background-size: 100% 20pc;
      }
    }
    .profile-pic {
      position: absolute;
      background-color: #1f1c1c;
      left: 205px;
      border-radius: 50%;
      bottom: -83px;
      img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(79deg)
          brightness(96%) contrast(99%);
      }
      // .txt {
      //   display: flex;
      //   flex-direction: column;
      //   padding: 20px;
      //   .myName,
      //   .email {
      //     color: var(--color-var4);
      //     font-size: 1.5rem;
      //     margin-bottom: 15px;
      //     span {
      //       color: #cfcfcf;
      //     }
      //   }
      // }
    }
  }
  .info {
    display: flex;
    flex-direction: column;
    padding: 15px 0;
    padding-inline-start: 400px;
    margin-bottom: 20px;
    .name {
      display: flex;
      align-items: center;
      font-size: 2.8rem;
      font-weight: 700;
      color: #cfcfcf;
      .verfied {
        padding: 0 10px;
        img {
          width: 20px;
          height: 20px;
        }
      }
    }
    .email {
      font-size: 1.5rem;
      color: #d0cccb;
    }
    @media (max-width: "767px") {
      margin-top: 0;
      align-items: center;
      justify-content: center;
    }
  }
  .fav-title,
  .purchased-title {
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 15px;
    color: var(--color-var4);
    font-weight: 700;
    display: flex;
    align-items: center;
    .myheart,
    .myPurchased {
      margin-inline-end: 10px;
      img {
        width: 30px;
        height: 32px;
        filter: invert(21%) sepia(89%) saturate(2507%) hue-rotate(342deg)
          brightness(73%) contrast(101%);
      }
    }
  }
  .purchased-title {
    color: #fdcc0d;
    .myPurchased {
      img {
        filter: invert(85%) sepia(39%) saturate(1320%) hue-rotate(347deg)
          brightness(98%) contrast(102%);
      }
    }
  }
  .noFav,
  .noPurchased {
    display: flex;
    // align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    img {
      margin-inline-start: 10px;
    }
  }
}
