.profile {
  margin-bottom: 30px;
  .cover {
    position: relative;

    .myimg {
      width: 100%;
      height: 400px;
      background-image: url("/assets/images/cinema-cover.jpg");
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center;
      background-size: cover;
      box-shadow: inset 0 0 0 2000px #221f1f82;
      @media (max-width: "850px") {
        height: 250px;
      }
      @media (max-width: "500px") {
        height: 180px;
      }
    }
  }
  .myContent {
    display: flex;
    padding-inline-start: 205px;
    .profile-pic {
      background-color: var(--color-var1);
      position: relative;
      border-radius: 50%;

      margin-inline-end: 30px;
      margin-top: -50px;
      img {
        border-radius: 50%;
        width: 140px;
        height: 140px;
        filter: invert(85%) sepia(0%) saturate(0%) hue-rotate(79deg)
          brightness(96%) contrast(99%);
      }
    }
    .info {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      .name {
        display: flex;
        align-items: center;
        font-size: 2.8rem;
        font-weight: 700;
        color: #cfcfcf;
        .verfied {
          padding: 0 10px;
          img {
            width: 20px;
            height: 20px;
          }
        }
      }
      .email {
        font-size: 1.5rem;
        color: #d0cccb;
      }
    }
    @media (max-width: "768px") {
      padding-inline-start: 0px;
      align-items: center;
      justify-content: center;
    }
    @media (max-width: "500px") {
      .profile-pic {
        margin-inline-end: 20px;
        margin-top: -35px;

        img {
          width: 100px;
          height: 100px;
        }
      }
      .info {
        .name {
          font-size: 2rem;
        }
        .email {
          font-size: 1rem;
        }
      }
    }
  }

  .fav-title,
  .purchased-title {
    font-size: 2.5rem;
    margin-top: 60px;
    margin-bottom: 15px;
    color: var(--color-var3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    font-weight: 700;
    display: flex;
    align-items: center;
    .myheart,
    .myPurchased {
      margin-inline-end: 10px;

      img {
        width: 30px;
        height: 32px;
        filter: invert(21%) sepia(89%) saturate(2507%) hue-rotate(342deg)
          brightness(87%) contrast(101%);
      }
    }
  }
  .purchased-title {
    color: #fdcc0d;
    .myPurchased {
      img {
        filter: invert(85%) sepia(39%) saturate(1320%) hue-rotate(347deg)
          brightness(98%) contrast(102%);
      }
    }
  }
  .noFav,
  .noPurchased {
    display: flex;
    // align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    img {
      margin-inline-start: 10px;
    }
  }
}
