<app-hero></app-hero>

<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-22">
      <!-- Home Content Goes Here-->
      <!-- Start of movies card -->
      <div class="moviesCards">
        <div class="row">
          <div class="col-24">
            <div class="movies-title" id="Movies">
              <h3>Movies</h3>
              <app-filter></app-filter>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="wrapper">
            @for (movie of movies?.slice(1,27); track movie.id) {
            <app-movies-cards [movie]="movie"></app-movies-cards>
            }
          </div>
        </div>
      </div>
      <div class="moviesCarousel">
        <div class="row">
          <div class="col-24">
            <app-carousel [movies]="movies"></app-carousel>
          </div>
        </div>
      </div>

      <!-- End of movies card -->
      <app-footer></app-footer>
    </div>
    <div class="col-1"></div>
  </div>
</div>
