.moviesCards {
  margin-bottom: 90px;

  .movies-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 30px 30px 0;
    .filter-container {
      padding-bottom: 20px;
    }

    h3 {
      font-size: 3rem;
      font-weight: 800;
      color: var(--color-var3);
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    }

    @media (max-width: "600px") {
      flex-direction: column;

      h3 {
        margin-bottom: 15px;
      }
    }
  }
}

.moviesCarousel {
  margin-bottom: 90px;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  column-gap: 4rem;
  row-gap: 3.5rem;

  @media (max-width: "1390px") {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (max-width: "1175px") {
    grid-template-columns: repeat(3, 1fr);
  }

  @media (max-width: "768px") {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: "430px") {
    grid-template-columns: repeat(1, 1fr);
  }
}

.pagination {
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.pagination .ngx-pagination .current {
  background: rgb(104, 40, 40);
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
}

.pagination .ngx-pagination a:hover,
.ngx-pagination button:hover {
  background: #db9292;
  border-radius: 10px;
  padding-left: 9px;
  padding-right: 9px;
  text-decoration: none;
  color: white;
}


.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
}


.pagination ::ng-deep .ngx-pagination .current {
  background: red;
  border-radius: 15px;
}

::ng-deep {
  .ngx-pagination {
    margin-left: 0 !important;
    margin-bottom: 1rem !important;
    line-height: 20px !important;
    padding: 7px 15px 7px !important;
    font-size: 12px !important;
  }

  .ngx-pagination::before,
  .ngx-pagination::after {
    content: " " !important;
    //display: table !important;
  }

  .ngx-pagination::after {
    clear: both !important;
  }

  // .ngx-pagination li {
  //   -moz-user-select: none !important;
  //   -webkit-user-select: none !important;
  //   -ms-user-select: none !important;
  //   margin-right: 0.2rem !important;
  //   border-radius: 0 !important;
  // }

  // .ngx-pagination li {
  //   display: inline-block !important;
  // }

  .ngx-pagination a,
  .ngx-pagination button {
    color: #0a0a0a !important;
    display: block !important;
    background-color: rgb(238, 197, 203) !important;
    color: black !important;
    border: 2px solid #8b8b8b !important;
    padding: 0.5rem 1rem !important;
    border-radius: 25px !important;
  }

  .ngx-pagination a:hover,
  .ngx-pagination button:hover {
    background: #8d788088 !important;
  }

  .ngx-pagination .current {
    padding: 0.1875rem 0.625rem !important;
    background: red !important;
    color: #fefefe !important;
    cursor: default !important;
    border: 2px solid #8b8b8b !important;
    border-radius: 25px !important;
    padding: 0.5rem 1rem !important;
  }

  .ngx-pagination .disabled {
    padding: 0.1875rem 0.625rem !important;
    color: #cacaca00 !important;
    cursor: default !important;
  }

  .ngx-pagination .disabled:hover {
    background: transparent !important;
  }

  .ngx-pagination a,
  .ngx-pagination button {
    cursor: pointer !important;
  }

  // .ngx-pagination .pagination-previous a::before,
  // .ngx-pagination .pagination-previous.disabled::before {
  //   font-family: FontAwesome;
  //   content: "\f053" !important;
  //   display: inline-block !important;
  //   margin-right: 0rem !important;
  // }

  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    font-family: FontAwesome !important;
    content: "\f054" !important;
    display: inline-block !important;
    margin-left: 0rem !important;
  }

  .ngx-pagination .show-for-sr {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    //overflow: hidden !important;
    //clip: rect(0, 0, 0, 0) !important;
  }

  .ngx-pagination .small-screen {
    display: none !important;
  }

  @media screen and (max-width: 601px) {
    .ngx-pagination.responsive .small-screen {
      display: inline-block !important;
      color: black !important;
      background-color: rgb(109, 15, 15) !important;
      border: 2px solid #e29494 !important;
      padding: 0.5rem 1rem !important;
      border-radius: 9% !important;
    }

    // .ngx-pagination.responsive li:not(.small-screen):not(.pagination-previous):not(.pagination-next) {
    //   display: none !important;
    // }
  }
}