@if (movie) {

<div class="cards cards--one" routerLink="movie/{{ movie.id }}">
  <div>
    <img
      src="{{ movie.Poster }}"
      class="img-responsive myimg"
      alt="Cards Image"
    />
    <div class="desc">
      <div class="name">{{ movie.Title }}</div>
      <div class="imdb">{{ movie.Genre }}</div>
      <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    </div>
  </div>

  <span class="cards--one__rect"></span>
  <span class="cards--one__tri"></span>
  <button class="watch-btn">Watch Now!</button>
</div>
}@else {
<div>loading</div>
}
