.p-icon {
  color: #fdcc0d;
}

.img-responsive {
  max-width: 100%;
  height: auto;
}

.cards {
  width: 100%;
  display: block;
  background-size: cover;
  float: left;
  border-radius: 15px;
  position: relative;
  overflow: hidden;
  background-position: center;
  cursor: pointer;
}

.cards--one {
  position: relative;
  backface-visibility: hidden;
  border-radius: 15px;
  height: 100%;
  background-color: #1f1c1c;
  box-shadow: 1px 1px 4px 3px #1c1818;
  .myimg {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    width: 100%;
    height: 250px;
    @media (max-width: "430px") {
      height: 340px;
    }
  }
  .desc {
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    .name {
      font-size: 1.8rem;
      font-weight: 700;
      color: #aca6a5;
      margin-bottom: 5px;
    }
    .imdb {
      margin-bottom: 5px;
      color: #6e6867;
    }
  }
  button {
    position: absolute;
    border-radius: 12px;
    background-color: transparent;
    border: none;
    top: 83%;
    left: -100%;
    text-transform: capitalize;
    color: #fff;
    font-size: 20px;
    z-index: 8;
    font-weight: 600;
    font-style: italic;
    transition: all 0.6s ease;
  }

  &:hover {
    button {
      left: 5%;
    }

    // img {
    //   transform: translateY(-15px);
    // }

    .cards--one__rect {
      top: 75%;

      &:before {
        transform: translateY(15px);
      }
      @media (max-width: "1390px") {
        top: 69%;
      }
      @media (max-width: "1175px") {
        top: 64%;
      }
      @media (max-width: "960px") {
        top: 78%;
      }
      @media (max-width: "770px") {
        top: 60%;
      }
      @media (max-width: "665px") {
        top: 75%;
      }
      @media (max-width: "565px") {
        top: 83%;
      }
      @media (max-width: "430px") {
        top: 61%;
      }
    }

    li {
      transform: translateY(0);
    }

    .cards--one__tri {
      right: -80%;

      &:before {
        right: -312px;
      }
      @media (max-width: "1390px") {
        right: -78%;
      }
      @media (max-width: "1175px") {
        right: -46%;
      }
      @media (max-width: "960px") {
        right: -76%;
      }
      @media (max-width: "770px") {
        right: -65%;
      }
      @media (max-width: "665px") {
        right: -80%;
      }
      @media (max-width: "565px") {
        right: -106%;
      }
      @media (max-width: "430px") {
        right: -56%;
      }
    }
  }

  img {
    transition: all 0.2s ease;
  }

  &__tri {
    border-top: 220px solid transparent;
    border-bottom: 190px solid transparent;
    border-right: 288px solid #fff;
    opacity: 0.9;
    position: absolute;
    display: block;
    top: -95px;
    right: -132%;
    transition: all 0.3s ease-in-out;

    &:before {
      border-top: 220px solid transparent;
      border-bottom: 190px solid transparent;
      border-right: 288px solid var(--color-var4);
      position: absolute;
      content: "";
      display: block;
      top: -220px;
      right: -612px;
      transition: all 0.3s ease-in-out;
      transition-delay: 0.2s;
    }
    @media (max-width: "1322px") {
      right: -180%;
    }
  }

  &__rect {
    width: 750px;
    height: 250px;
    background: #fff;
    display: block;
    position: absolute;
    top: 175%;
    left: -107%;
    transform: rotate(30deg);
    z-index: 5;
    opacity: 0.9;
    transition: all 0.3s ease-in-out;

    &:before {
      content: "";
      display: block;
      width: 100%;
      position: relative;
      height: 100%;
      background: var(--color-var4);
      transform: translateY(200px);
      z-index: 2;
      transition: all 0.3s ease-in-out;
      transition-delay: 0.1s;
    }
  }
}
