@if (movie) {

<!-- <div class="cards cards--one" (click)="routeMovie()"> -->
<div class="cards cards--one" routerLink="movie/{{ movie.Title }}">
  <div>
    <div class="myPoster">
      <img
        src="{{ movie.Poster }}"
        class="img-responsive myimg"
        alt="Cards Image"
        loading="lazy"
      />
    </div>
    <div class="desc">
      <div class="name">{{ movie.Title }}</div>
      <div class="imdb">{{ movie.Genre }}</div>
      <p-rating [(ngModel)]="value" [cancel]="false"></p-rating>
    </div>
  </div>

  <span class="cards--one__rect"></span>
  <span class="cards--one__tri"></span>
  <button class="watch-btn">Watch Now!</button>
</div>
} @else {
<div
  class="spinner-border text-danger"
  style="width: 3rem; height: 3rem"
  role="status"
>
  <span class="visually-hidden">Loading...</span>
</div>
}
