@import "primeicons/primeicons.css";

:root {
  --color-var1: #221f1f;
  --color-var2: #f5f5f1;
  // style
  --color-var3: #e50914;
  // hover
  --color-var4: #b81d24;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-highlight-color: #e50914;
  scrollbar-color: #e50914 #221f1f;
}

::-webkit-scrollbar-thumb {
  background-color: #e50914;
  border-radius: 10px;
}

body {
  font-family: "Martel Sans", Helvetica Neue, Segoe UI, Roboto, sans-serif;
  background-color: var(--color-var1);
  color: var(--color-var2);
}

.primary-btn {
  background-color: var(--color-var3);
  border: 1px solid transparent;
  color: #fff;
}

.primary-btn:hover,
.primary-btn:focus {
  background-color: var(--color-var4);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
}

.primary-btn:hover {
  transform: translateY(-2px);
}

.secondary-btn {
  background-color: var(--color-var2);
  color: var(--color-var1);
  border: 1px solid var(--color-var1);
}

.secondary-btn:hover,
.secondary-btn:focus {
  background-color: var(--color-var1);
  color: var(--color-var2);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  border: 1px solid var(--color-var2);
}

.secondary-btn:hover {
  transform: translateY(-2px);
}

.col-1 {
  width: 4.16667%;
} /* (100/24) */
.col-2 {
  width: 8.33333%;
} /* (2 * 4.16667%) */
.col-3 {
  width: 12.5%;
} /* (3 * 4.16667%) */
.col-4 {
  width: 16.66667%;
} /* (4 * 4.16667%) */
.col-5 {
  width: 20.83333%;
} /* (5 * 4.16667%) */
.col-6 {
  width: 25%;
} /* (6 * 4.16667%) */
.col-7 {
  width: 29.16667%;
} /* (7 * 4.16667%) */
.col-8 {
  width: 33.33333%;
} /* (8 * 4.16667%) */
.col-9 {
  width: 37.5%;
} /* (9 * 4.16667%) */
.col-10 {
  width: 41.66667%;
} /* (10 * 4.16667%) */
.col-11 {
  width: 45.83333%;
} /* (11 * 4.16667%) */
.col-12 {
  width: 50%;
} /* (12 * 4.16667%) */
.col-13 {
  width: 54.16667%;
} /* (13 * 4.16667%) */
.col-14 {
  width: 58.33333%;
} /* (14 * 4.16667%) */
.col-15 {
  width: 62.5%;
} /* (15 * 4.16667%) */
.col-16 {
  width: 66.66667%;
} /* (16 * 4.16667%) */
.col-17 {
  width: 70.83333%;
} /* (17 * 4.16667%) */
.col-18 {
  width: 75%;
} /* (18 * 4.16667%) */
.col-19 {
  width: 79.16667%;
} /* (19 * 4.16667%) */
.col-20 {
  width: 83.33333%;
} /* (20 * 4.16667%) */
.col-21 {
  width: 87.5%;
} /* (21 * 4.16667%) */
.col-22 {
  width: 91.66667%;
} /* (22 * 4.16667%) */
.col-23 {
  width: 95.83333%;
} /* (23 * 4.16667%) */
.col-24 {
  width: 100%;
} /* (24 * 4.16667%) */
/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .col-xs-1 {
    width: 4.16667%;
  }
  .col-xs-2 {
    width: 8.33333%;
  }
  .col-xs-3 {
    width: 12.5%;
  }
  .col-xs-4 {
    width: 16.66667%;
  }
  .col-xs-5 {
    width: 20.83333%;
  }
  .col-xs-6 {
    width: 25%;
  }
  .col-xs-7 {
    width: 29.16667%;
  }
  .col-xs-8 {
    width: 33.33333%;
  }
  .col-xs-9 {
    width: 37.5%;
  }
  .col-xs-10 {
    width: 41.66667%;
  }
  .col-xs-11 {
    width: 45.83333%;
  }
  .col-xs-12 {
    width: 50%;
  }
  .col-xs-13 {
    width: 54.16667%;
  }
  .col-xs-14 {
    width: 58.33333%;
  }
  .col-xs-15 {
    width: 62.5%;
  }
  .col-xs-16 {
    width: 66.66667%;
  }
  .col-xs-17 {
    width: 70.83333%;
  }
  .col-xs-18 {
    width: 75%;
  }
  .col-xs-19 {
    width: 79.16667%;
  }
  .col-xs-20 {
    width: 83.33333%;
  }
  .col-xs-21 {
    width: 87.5%;
  }
  .col-xs-22 {
    width: 91.66667%;
  }
  .col-xs-23 {
    width: 95.83333%;
  }
  .col-xs-24 {
    width: 100%;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .col-sm-1 {
    width: 4.16667%;
  }
  .col-sm-2 {
    width: 8.33333%;
  }
  .col-sm-3 {
    width: 12.5%;
  }
  .col-sm-4 {
    width: 16.66667%;
  }
  .col-sm-5 {
    width: 20.83333%;
  }
  .col-sm-6 {
    width: 25%;
  }
  .col-sm-7 {
    width: 29.16667%;
  }
  .col-sm-8 {
    width: 33.33333%;
  }
  .col-sm-9 {
    width: 37.5%;
  }
  .col-sm-10 {
    width: 41.66667%;
  }
  .col-sm-11 {
    width: 45.83333%;
  }
  .col-sm-12 {
    width: 50%;
  }
  .col-sm-13 {
    width: 54.16667%;
  }
  .col-sm-14 {
    width: 58.33333%;
  }
  .col-sm-15 {
    width: 62.5%;
  }
  .col-sm-16 {
    width: 66.66667%;
  }
  .col-sm-17 {
    width: 70.83333%;
  }
  .col-sm-18 {
    width: 75%;
  }
  .col-sm-19 {
    width: 79.16667%;
  }
  .col-sm-20 {
    width: 83.33333%;
  }
  .col-sm-21 {
    width: 87.5%;
  }
  .col-sm-22 {
    width: 91.66667%;
  }
  .col-sm-23 {
    width: 95.83333%;
  }
  .col-sm-24 {
    width: 100%;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 4.16667%;
  }
  .col-md-2 {
    width: 8.33333%;
  }
  .col-md-3 {
    width: 12.5%;
  }
  .col-md-4 {
    width: 16.66667%;
  }
  .col-md-5 {
    width: 20.83333%;
  }
  .col-md-6 {
    width: 25%;
  }
  .col-md-7 {
    width: 29.16667%;
  }
  .col-md-8 {
    width: 33.33333%;
  }
  .col-md-9 {
    width: 37.5%;
  }
  .col-md-10 {
    width: 41.66667%;
  }
  .col-md-11 {
    width: 45.83333%;
  }
  .col-md-12 {
    width: 50%;
  }
  .col-md-13 {
    width: 54.16667%;
  }
  .col-md-14 {
    width: 58.33333%;
  }
  .col-md-15 {
    width: 62.5%;
  }
  .col-md-16 {
    width: 66.66667%;
  }
  .col-md-17 {
    width: 70.83333%;
  }
  .col-md-18 {
    width: 75%;
  }
  .col-md-19 {
    width: 79.16667%;
  }
  .col-md-20 {
    width: 83.33333%;
  }
  .col-md-21 {
    width: 87.5%;
  }
  .col-md-22 {
    width: 91.66667%;
  }
  .col-md-23 {
    width: 95.83333%;
  }
  .col-md-24 {
    width: 100%;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 4.16667%;
  }
  .col-lg-2 {
    width: 8.33333%;
  }
  .col-lg-3 {
    width: 12.5%;
  }
  .col-lg-4 {
    width: 16.66667%;
  }
  .col-lg-5 {
    width: 20.83333%;
  }
  .col-lg-6 {
    width: 25%;
  }
  .col-lg-7 {
    width: 29.16667%;
  }
  .col-lg-8 {
    width: 33.33333%;
  }
  .col-lg-9 {
    width: 37.5%;
  }
  .col-lg-10 {
    width: 41.66667%;
  }
  .col-lg-11 {
    width: 45.83333%;
  }
  .col-lg-12 {
    width: 50%;
  }
  .col-lg-13 {
    width: 54.16667%;
  }
  .col-lg-14 {
    width: 58.33333%;
  }
  .col-lg-15 {
    width: 62.5%;
  }
  .col-lg-16 {
    width: 66.66667%;
  }
  .col-lg-17 {
    width: 70.83333%;
  }
  .col-lg-18 {
    width: 75%;
  }
  .col-lg-19 {
    width: 79.16667%;
  }
  .col-lg-20 {
    width: 83.33333%;
  }
  .col-lg-21 {
    width: 87.5%;
  }
  .col-lg-22 {
    width: 91.66667%;
  }
  .col-lg-23 {
    width: 95.83333%;
  }
  .col-lg-24 {
    width: 100%;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .col-xl-1 {
    width: 4.16667%;
  }
  .col-xl-2 {
    width: 8.33333%;
  }
  .col-xl-3 {
    width: 12.5%;
  }
  .col-xl-4 {
    width: 16.66667%;
  }
  .col-xl-5 {
    width: 20.83333%;
  }
  .col-xl-6 {
    width: 25%;
  }
  .col-xl-7 {
    width: 29.16667%;
  }
  .col-xl-8 {
    width: 33.33333%;
  }
  .col-xl-9 {
    width: 37.5%;
  }
  .col-xl-10 {
    width: 41.66667%;
  }
  .col-xl-11 {
    width: 45.83333%;
  }
  .col-xl-12 {
    width: 50%;
  }
  .col-xl-13 {
    width: 54.16667%;
  }
  .col-xl-14 {
    width: 58.33333%;
  }
  .col-xl-15 {
    width: 62.5%;
  }
  .col-xl-16 {
    width: 66.66667%;
  }
  .col-xl-17 {
    width: 70.83333%;
  }
  .col-xl-18 {
    width: 75%;
  }
  .col-xl-19 {
    width: 79.16667%;
  }
  .col-xl-20 {
    width: 83.33333%;
  }
  .col-xl-21 {
    width: 87.5%;
  }
  .col-xl-22 {
    width: 91.66667%;
  }
  .col-xl-23 {
    width: 95.83333%;
  }
  .col-xl-24 {
    width: 100%;
  }
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
  background-color: #4a4a4a !important;
}

// done
.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: white !important;
  font-size: smaller;
}
.mdc-text-field__input {
  color: white !important;
  font-size: smaller;
}
.mdc-text-field__input option {
  color: black !important;
  font-size: smaller;
}
.mdc-text-field--filled:not(.mdc-text-field--disabled) .mdc-floating-label,
.mdc-text-field--filled:not(.mdc-text-field--disabled)
  .mdc-floating-label--float-above {
  color: white !important;
  font-size: smaller;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .mat-mdc-form-field,
  .mat-mdc-form-field-type-mat-native-select,
  .mat-form-field-appearance-fill,
  .mat-form-field-hide-placeholder {
    width: 100px !important;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-form-field {
    width: 25% !important;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .mat-mdc-form-field,
  .mat-mdc-form-field-type-mat-native-select,
  .mat-form-field-appearance-fill,
  .mat-form-field-hide-placeholder {
    width: 100px !important;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-form-field {
    width: 25% !important;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .mat-mdc-form-field,
  .mat-mdc-form-field-type-mat-native-select,
  .mat-form-field-appearance-fill,
  .mat-form-field-hide-placeholder {
    width: 180px !important;
    margin-right: 5px;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-form-field {
    width: 100% !important;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .mat-mdc-form-field,
  .mat-mdc-form-field-type-mat-native-select,
  .mat-form-field-appearance-fill,
  .mat-form-field-hide-placeholder {
    width: 100px !important;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-form-field {
    width: 100% !important;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .mat-mdc-form-field,
  .mat-mdc-form-field-type-mat-native-select,
  .mat-form-field-appearance-fill,
  .mat-form-field-hide-placeholder {
    width: 100% !important;
  }
  .mat-mdc-text-field-wrapper {
    width: 100% !important;
  }
  .mat-form-field {
    width: 100% !important;
  }
}
.favourites,
.purchased {
  .cards--one__rect,
  .cards--one__tri,
  .watch-btn {
    display: none;
  }
  .cards--one .myPoster .myimg {
    height: 210px;
  }
  .cards {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: translateY(-8px);
      transition: all 0.3s ease-in-out;
    }
  }
}
