<div class="parent">
  <div class="cart-section">
    <div class="cart-header">
      <img
        src="/assets/svg/cart.svg"
        alt="checkout"
        width="30"
        height="30"
        style="filter: invert(100%)"
      />
      <h2>Cart</h2>
    </div>

    @if(userCart.cart.length === 0 || userCart === {}){
    <div class="empty-cart">
      <h3>No Movies in Cart</h3>
      <button class="primary-btn">
        <a href="#Movies">Reserve Now</a>
      </button>
    </div>
    } @else {
    <div class="movie-header">
      <h5 class="header">Poster</h5>
      <h5 class="header">Movie</h5>
      <h5 class="header">Seats</h5>
      <h5 class="header">Price</h5>
    </div>

    @for(item of userCart.cart; track item.time) {
    <div>
      <p>{{ item.cinema }}</p>
      <p>{{ item.date }}</p>
      <p>{{ item.time }}</p>
      <p>{{ item["movie-name"] }}</p>
      <p>{{ item["movie-img"] }}</p>
      <p>{{ item.seats }}</p>
    </div>
    }

    <div class="back-container" [routerLink]="'/booking'">
      <img
        src="/assets/svg/back.svg"
        alt="arrow"
        style="filter: invert(100%)"
      />
      <h3>Need More Seats ?</h3>
    </div>
    }
  </div>

  <div class="payment">
    <div class="cart-header" style="margin-bottom: 20px">
      <img
        src="/assets/svg/credit.svg"
        alt="checkout"
        width="30"
        height="30"
        style="filter: invert(100%)"
      />
      <h2>Payment</h2>
    </div>

    <div class="payment-options">
      <div id="myPaypalButtons"></div>
    </div>

    <hr />
    <br />

    <div class="checkout">
      <button class="checkout-btn" (click)="checkoutUserCart(userCart)">
        Make a Database Payment
      </button>
    </div>
  </div>
</div>

<hr style="color: #ccc; margin: 40px 60px" />
