<div class="parent">
  <div class="cart-section">
    <div class="cart-header">
      <img
        src="/assets/svg/cart.svg"
        alt="checkout"
        width="30"
        height="30"
        style="filter: invert(100%)"
      />
      <h2>Cart</h2>
    </div>

    @if(userCart.cart.length === 0 || userCart === {}){
    <div class="empty-cart">
      <h3>No Movies in Cart</h3>
      <button class="primary-btn">
        <a href="#Movies">Reserve Now</a>
      </button>
    </div>
    } @else { @for(item of userCart.cart; track item.time) {
    <div class="reserved">
      <div><img [src]="item['movie-img']" height="180" width="150" /></div>

      <div class="reserved-data">
        <div>
          <p><span>Movie : </span>{{ item["movie-name"] }}</p>
          <p><span>Cinema : </span>{{ item.cinema }}</p>
          <p><span>Date : </span>{{ item.date }}</p>
          <p><span>Time : </span>{{ item.time }}</p>
        </div>

        <div style="justify-self: center">
          <div class="reserved-row">
            <p><span>Seats :</span></p>

            <div class="d-flex">
              <p
                class="seats-details"
                *ngFor="let seat of item.seats; let last = last"
              >
                {{ seat.num }}{{ last ? "" : ", " }}
              </p>
            </div>
          </div>

          <div class="reserved-row">
            <p><span>Row :</span></p>

            <div class="d-flex">
              <p
                class="seats-details"
                *ngFor="let seat of item.seats; let last = last"
              >
                {{ seat.row }}{{ last ? "" : ", " }}
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="reserved-btn" (click)="removeMovie(item)">
        <button class="primary-btn">Remove</button>
      </div>
    </div>

    <hr />
    }

    <div class="back-container" [routerLink]="'/booking'">
      <img
        src="/assets/svg/back.svg"
        alt="arrow"
        style="filter: invert(100%)"
      />
      <h3>Need More Seats ?</h3>
    </div>
    }
  </div>

  <div class="payment">
    <div class="cart-header" style="margin-bottom: 20px">
      <img
        src="/assets/svg/credit.svg"
        alt="checkout"
        width="30"
        height="30"
        style="filter: invert(100%)"
      />
      <h2>Payment</h2>
    </div>

    <div class="payment-options">
      <div id="myPaypalButtons"></div>
    </div>

    <hr />
    <br />

    <div class="checkout">
      <button class="checkout-btn" (click)="checkoutUserCart(userCart)">
        Make a Database Payment
      </button>
    </div>
  </div>
</div>

<hr style="color: #ccc; margin: 40px 60px" />
