// Extra Small
@media only screen and (max-width: 600px) {
  .seat,
  .takenSeat,
  .reservedSeat {
    width: 22px;
    height: 22px;
    transition: width 0.3s ease, height 0.3s ease; /* Adding transition */
  }
  .seat:hover {
    width: 19px;
    height: 19px;
    color:rgb(67, 67, 67);
  }
}
/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .seat,
  .takenSeat,
  .reservedSeat {
    width: 22px;
    height: 22px;
    transition: width 0.3s ease, height 0.3s ease; /* Adding transition */
  }
  .seat:hover {
    width: 19px;
    height: 19px;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .seat,
  .takenSeat,
  .reservedSeat {
    width: 30px;
    height: 30px;
    transition: width 0.3s ease, height 0.3s ease; /* Adding transition */
  }
  .seat:hover {
    width: 28px;
    height: 28px;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .seat,
  .takenSeat,
  .reservedSeat {
    width: 40px;
    height: 40px;
    transition: width 0.3s ease, height 0.3s ease; /* Adding transition */
  }
  .seat:hover {
    width: 38px;
    height: 38px;
  }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .seat {
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: width 0.3s ease, height 0.3s ease; /* Adding transition */
  }
  .seat:hover {
    width: 38px;
    height: 38px;
  }
}
